{% extends "teamprofiles/base.html" %}

{% load thumbnail %}

{% block content %}
{% for team in team_list.all %}
  <h2>{{ team }}</h2>
  {% for member in team.members.all %}
    <h3>{{ member }}</h3>
    <p>{{ member.position }}</p>
    <img src="{% thumbnail member.image '150x150' crop='center' %}" />
    {% for profile in member.profiles.all %}
      <a class="social-{{ profile.profile_type.slug }}" target="_blank" href="{{ profile.url }}">{{ profile.profile_type.name }}</a>
    {% endfor %}
  {% endfor %}
{% endfor %}
{% endblock %}
